<footer>
  <div class="container-fluid pt-2 my-md-5 pt-md-3 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="Logo ml-4"
          src="./assets/images/Logo.jpg"
          alt=""
          width="74"
          height="74"
        />
        <p class="d-block ml-4 mb-3 text-muted">&copy; 2020</p>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>Features</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/shop">Designs</a></li>
          <li><a class="text-muted" routerLink="/health">News</a></li>
        </ul>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>Contact</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/contact">Contact Us</a></li>
          <li>
            <a *ngIf="!auth.logged" class="text-muted" routerLink="/login"
              >Login</a
            >
          </li>
          <li>
            <a *ngIf="!auth.logged" class="text-muted" routerLink="/account"
              >Create account</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>About</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/about">Our Story</a></li>
          <li><a class="text-muted" routerLink="/location">Location</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
