<div>
  <div class="row">
    <div class="col-md-12 slogan">
      <div class="row">
        <div class="col-md-10">
          <h2 class="pt-sm-5 pl-sm-5 text-white display-2 slide-in-left-f">
            THE WORLD’S MOST ADVANCED MASK
          </h2>
        </div>
      </div>
      <div class="row pt-sm-3 pl-sm-5">
        <div class="col-md-6 col-sm-8">
          <h3 class="display-4 text-white slide-in-left-r">
            All our air masks are engineered to keep you healthy in any urban
            surrounding.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 button pt-sm-3">
          <a
            routerLink="/shop"
            class="btn btn-warning btn-sm text-white slide-in-left-s float-sm-right float-sm-right"
          >
            See all designs
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row pt-5">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-11 pt-5">
          <h2 class="pt-sm-5 pl-sm-5 slide-in-left-f text-dark">
            WHY PROTECT YOURSELF?
          </h2>
          <h3 class="pt-sm-3 pl-sm-5 display-2 slide-in-left-f">
            Protecting yourself means protecting others
          </h3>
          <h4 class="pt-sm-3 pl-sm-5 display-2 slide-in-left-f text-justify">
            We take around 20,000 breaths every day and air is essential for our
            survival. When we breathe poor quality air, it can severely damage
            our health and contribute to asthma, respiratory diseases, cancer,
            strokes and even death. In fact, 7 million people die annually as a
            result of poor air quality, a number far too high. Whether you need
            protection from toxic air pollution, itchy pollen, to stay away from
            bacteria or simply want to be at your very best, the Airmaski will
            empower you to breathe cleaner and healthy air.
          </h4>
        </div>
      </div>
      <div class="row pt-4 slide-in-left-f">
        <div class="col-6 mx-auto">
          <a routerLink="/health"
            ><img
              src="/assets/images/virus.png"
              class="img-fluid float-right shake-vertical virus"
          /></a>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-6 pt-3">
      <div class="row">
        <img src="/assets/images/whyMasks.jpg" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
  <div class="row justify-content-center pt-4">
    <div class="col-8 text-center text-dark">
      <h2>AN INNOVATIVE WAY TO CLEAN AIR</h2>
    </div>
  </div>
  <div class="row justify-content-center pt-2">
    <div class="col-8 text-center">
      <h4 class="display-2">
        The key to protection is in the mask’s filter. With 5-layer filter
        technology, the Airmaski will keep you protected against airborne
        particles as small as 0.3μm and allow you to breathe clean air in any
        environment.
      </h4>
    </div>
  </div>
  <div class="row mt-4 pt-4 mb-4 pb-4">
    <div class="col-12 text-center">
      <video autoplay="autoplay" loop="loop">
        <source src="/assets/videos/startPage.mp4" />
      </video>
    </div>
  </div>
</div>
