<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="index.html"
      ><img src="./assets/images/Logo.jpg" width="64" height="64"
    /></a>
    <input
      [checked]="accepted"
      (click)="check()"
      type="checkbox"
      class="openSidebarMenu navbar-toggler navbar-toggler-right"
      id="openSidebarMenu"
      data-toggle="collapse"
      data-target="#openSidebarMenu"
      aria-controls="openSidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    />
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>

    <div class="collapse navbar-collapse" id="openSidebarMenu">
      <ul
        class="navbar-nav mx-auto justify-content-center text-center"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
        (click)="uncheck()"
      >
        <li class="nav-item">
          <a
            class="nav-link m-md-3 m-lg-5 text-dark text-decoration-none hvr-underline-from-center hvr-grow"
            routerLink="/home"
            >AIRMASKI</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link m-md-3 m-lg-5 text-dark text-decoration-none hvr-underline-from-center hvr-grow"
            routerLink="/shop"
            >SHOP</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link m-md-3 m-lg-5 text-dark text-decoration-none hvr-underline-from-center hvr-grow"
            routerLink="/health"
            >STAY HEALTHY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link m-md-3 m-lg-5 text-dark text-decoration-none hvr-underline-from-center hvr-grow"
            routerLink="/about"
            >OUR STORY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link m-md-3 m-lg-5 text-dark text-decoration-none hvr-grow"
            routerLink="/cart"
            >CART <img src="/assets/images/cart.svg" class="img-fluid"
          /></a>
        </li>
        <li>
          <button
            *ngIf="!auth.logged"
            class="btn btn-outline-primary my-2 my-sm-0 pl-4 pr-4 m-md-3 m-lg-5"
            routerLink="/login"
          >
            Log In
          </button>
          <button
            *ngIf="auth.logged"
            (click)="out()"
            class="btn btn-outline-danger my-2 my-sm-0 pl-4 pr-4 m-md-3 m-lg-5"
          >
            Log out
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
