<div>
  <div class="row">
    <div
      class="col-md-12 slogan"
      [defaultImage]="defaultWoman"
      [lazyLoad]="woman"
    >
      <div class="row">
        <div class="col-md-5 col-sm-8">
          <h2
            class="pt-sm-5 pl-sm-5 display-4 text-dark text-center slide-in-left-f pr-md-4"
          >
            ABOUT US
          </h2>
        </div>
      </div>
      <div class="row pt-sm-3 pl-sm-5">
        <div class="col-md-6 col-sm-8">
          <h3
            class="display-4 text-dark text-center slide-in-left-s pl-lg-5 ml-lg-5"
          >
            THE STORY OF AIRMASKI AND OUR VISION AHEAD
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md col-sm-12 my-auto">
      <div class="row">
        <div data-aos="zoom-in-left" data-aos-duration="1500" class="col-11">
          <h2 class="pt-sm-5 pl-sm-5 display-2 text-dark">HOW WE GOT HERE</h2>
          <h4 class="pt-sm-3 pl-sm-5 display-2 text-justify">
            In the fall of 2014, co-founder Alexander moved from Sweden to
            India. The people, the scents and the food created a life that was
            uniquely colourful, but there was something that troubled him. His
            long-gone asthma had started to come back since moving to India. He
            realized he was becoming another victim of air pollution.
            <br />
            <br />
            After searching for a means to protect himself, Alex found that
            wearing an anti-pollution breathing mask was the most effective way.
            To his surprise, however, most of the masks on the market were very
            basic and far from perfect in their construction. Their designs were
            primitive, reminiscent of the masks worn by dentists or miners. Not
            something you would want to wear everyday.
            <br />
            <br />
            Coming back from Asia, Alexander discussed this problem with his old
            friend Fredrik. Living in Sweden, clean air was something they both
            took for granted. Realizing that everyone can’t breathe clean and
            healthy air they decided to do something about it, then Airmaski was
            born.
          </h4>
        </div>
      </div>
    </div>
    <div class="col CEO" [defaultImage]="defaultCEO" [lazyLoad]="ceo"></div>
  </div>
</div>

<div>
  <div class="row">
    <div
      class="col MNT order-2 order-md-6"
      data-src="../../../assets/images/mnt-story2.jpg"
      loading="lazy"
    ></div>
    <div class="col-md my-auto col-sm-12 order-1 order-md-6">
      <div class="row">
        <div data-aos="zoom-in-right" data-aos-duration="1500" class="col-11">
          <h2 class="pt-sm-5 pl-sm-5 text-dark display-2">
            A TWO FOLDED MISSION
          </h2>
          <h4 class="pt-sm-3 pl-sm-5 display-2 text-justify">
            Climate change is deteriorating the health of our planet, and
            consequently affecting the health of millions of people. Poor air
            quality, according to the World Health Organization, is one of the
            world’s largest indirect health risks and more than 90% of the
            world’s population breathe harmful air.
            <br />
            <br />
            That’s why we started Airmaski, with a vision to create a world
            where everyone can breathe clean and healthy air again. To get
            there, our mission is two-folded; 1) we exist to create products
            that can empower people to live healthy lives regardless of their
            surroundings, and 2) be part of raising awareness about poor air
            quality and the climate crisis.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md col-sm-12 my-auto">
      <div class="row">
        <div data-aos="zoom-in-left" data-aos-duration="1500" class="col-11">
          <h2 class="pt-sm-5 pl-sm-5 display-2 text-dark">AIR MATTERS</h2>
          <h4 class="pt-sm-3 pl-sm-5 display-2 text-justify">
            Breathing is one of the few things that everyone on the planet does,
            all the time. But breathing is also something we know very little
            about. We take 20,000 breaths every day. It is essential to the
            survival of all of us. But it can be more than that. High quality
            air let's top athletes perform at their very best, it enables us to
            explore new depths of the ocean and empowers our bodies to perform
            at maximum capacity.
            <br />
            <br />
            On the other hand, when we breathe bad quality air, it can severely
            damage our health, contributing to asthma, respiratory diseases,
            cancer, strokes and many more nasty diseases. At its worst, repeated
            exposure to polluted air can even kill. In fact, 7 million people
            die annually as a result of poor air quality. We find this
            unacceptable.
          </h4>
        </div>
      </div>
    </div>
    <div
      class="col-md col-sm-12 AIR"
      [defaultImage]="defaultAir"
      [lazyLoad]="air"
    ></div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md col-12">
      <img
        data-aos="flip-left"
        data-aos-duration="3000"
        data-src="/assets/images/mediaAbout.png"
        class="img-fluid"
        loading="lazy"
      />
    </div>
    <div class="col-md my-sm-auto mx-auto col-12">
      <div class="row">
        <div data-aos="zoom-in-right" data-aos-duration="1500" class="col-11">
          <h2 class="pt-sm-5 pl-sm-5 text-dark display-2">
            INNOVATION GETS ATTENTION
          </h2>
          <h4 class="pt-sm-3 pl-sm-5 display-2 text-justify mb-5">
            Even though it has not been long since our inception, we are proud
            and humble towards all the attention we have got already. Featured
            in media such as Vogue, Highsnobiety, GQ, BBC, CNN, The Guardian,
            PSFK and Fastcompany to name a few.
            <br />
            <br />
            <a
              routerLink="/shop"
              class="btn btn-warning btn-sm text-white slide-in-left-s float-sm-left mb-5"
            >
              See all designs
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
