.slogan {
  background-position: center;
  background-size: cover;
  height: 530px;
  padding-top: 150px;
}

.ng-lazyloaded {
  transition: 1s ease-out;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
.btn {
  font-size: 20px;
  border-radius: 49px;
}

video {
  width: 80%;
}

.shake-vertical {
  width: 16%;
  -webkit-animation: shake-vertical 25s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-vertical 25s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
